@model IEnumerable<TaxDataUpload.Models.TransactionData>
@using PagedList.Mvc; 
@using PagedList;

@{
    ViewBag.Title = "Transaction Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction Data</h2>

@if (Model.Count() > 0)
{
    if (Model.Count() >= 50)
    {
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfData, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxDataFileDetails.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxDataFileDetails.UploadTime)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxDataFileDetails.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxDataFileDetails.UploadTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </table>

    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfData, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
}
else
{
    <p><label class="alert-warning">No transaction data available.</label></p>
}